
* {
    box-sizing: border-box;
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}



header{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 10vh;
    background: linear-gradient(to bottom, #0e7b0ef0 20%, #10903d89 50%, #39a63931 86%, #3a879000);
    margin: 0;
    padding: 0;
}

button {
    max-width: 200px;
    min-width: 100px;
    width: 25vw;
    height: 4vh;
    margin:0 2vw;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: #eeeeee44;
    background-color: #eeeeee44;
    border-radius: 20px;
}

#start-button {
    display: inline-block;
    background-color: transparent;
    border: none;
}

h1 {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-left: 16px;
}

#content {
  font-family: inherit;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    padding: 20px;
}

.image {
   display: block; /* Bild zentrieren */
    margin: 0 auto; /* Zentrieren */
    width: 200px;
    height: auto;
    object-fit: cover;
    border-bottom: 10px solid rgba(49, 119, 168, 0.3);
    border-right: 9px solid rgba(49, 119, 168, 0.3);
    border-radius: 72% 19em 85% 15em / 80% 25em 70% 35em;
    cursor: pointer;
    transition: transform 0.3s ease, border-radius 0.3s ease; /* sanfter Übergang für die Opazität */
}

.image:hover {
    scale: 1.2;
    border-radius: 0;
    border: none;

}

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#lightbox img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
  box-shadow: 0 0 20px #fff;
  scale: 1;
}

.hidden {
  display: none;
}

#lightbox.hidden {
    display: none !important;
}